<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Components</title>
    <link href="../dist/output.css" rel="stylesheet">
</head>
<body class="bg-black">

    <!-- Button Components-->

    <div class="
    text-white font-bold bg-twitter-blue py-2 px-4 w-auto"
    >
        <h2>
            Assignment 1.1 Button Components
        </h2>
    </div>


    <section class="flex flex-col items-center"> 
        <section class="flex mt-8 flex-wrap">
            <section class="flex flex-col mx-8">

                <!--Create Account Button-->
                <button class=
                "py-2 px-6 w-90 m-3 h-9 bg-neutral-50 hover:bg-neutral-200 
                font-bold text-center text-black flex justify-center items-center 
                rounded-full gap-2.5 shadow-md backdrop-blur-xl disabled:opacity-50
                ">
                Create account
                </button>
        
                <!--Sign up Button-->
                <button class=
                "py-2 px-6 w-90 m-3 h-9 bg-inherit border border-1 border-white/25
                font-bold text-center text-twitter-blue flex justify-center items-center 
                rounded-full gap-2.5 shadow-md backdrop-blur-xl
                ">
                Sign up
                </button>
            </section>
        
            <section class="flex flex-col mx-8">

                <!--Follow Button-->
                <button class="
                py-2 px-5 m-3 h-8 w-21 bg-neutral-50 rounded-full text-sm font-bold
                hover:bg-neutral-200 disabled:opacity-50 ba
                ">Follow</button>
            </section>
            
            <section class="flex flex-col mx-8 items-center">

                <!--Next Button-->
                <button class=
                "py-3 px-6 w-100 m-3 h-10.5 bg-neutral-50 hover:bg-neutral-200 
                font-bold text-center text-black flex justify-center items-center 
                rounded-full gap-2.5 shadow-md backdrop-blur-xl disabled:opacity-50
                ">
                Next
                </button>
        
                <!--Following Indicator Button-->
                <button class="
                text-neutral-50 text-sm m-3 border border-white/25 rounded-full
                py-1.5 px-4 font-bold
                ">
                    Following
                </button>
            </section>
        </section>    
    
    
        <section class="flex flex-wrap">
            <section class="flex flex-col content-baseline mx-8">
                <!--Post Button Medium-->
                <button class="
                bg-twitter-blue w-56 h-12  py-4 px-24 rounded-full text-neutral-50 font-bold gap-2.5 m-3
                flex justify-center items-center text-center hover:bg-twitter-blue-hover disabled:opacity-50" >
                    Post
                </button>
            </section>
    
            
            <section class="flex flex-col mx-8">
                <!--Post Button Small-->
                <button class="
                bg-twitter-blue w-21 h-10.5 py-3 px-6 rounded-full text-neutral-50 font-bold gap-2.5 m-3
                flex justify-center items-center text-center hover:bg-twitter-blue-hover disabled:opacity-50" >
                    Post
                </button>
            </section>
    
            <section class="flex flex-col mx-8">
                <!--Post Button Large-->
                <button class="
                bg-twitter-blue p-5 w-100 h-15 rounded-full text-neutral-50 font-bold gap-2.5 m-3
                flex justify-center items-center text-center hover:bg-twitter-blue-hover disabled:opacity-50" >
                    Post
                </button>
            </section>
        </section>


        <!--For you / Following Top Menu-->
        <div class="flex w-2/4 border-b border-neutral-700">
            <div class="flex flex-col items-center justify-center hover:bg-neutral-800 w-2/4 text-center cursor-pointer relative">
                <div class="flex items-end py-4 text-neutral-50 font-medium text-16">
                    For you
                </div>
                <div class="bg-twitter-blue w-14 rounded-full h-1 absolute bottom-0"></div>
            </div>

            <div class="flex flex-col items-center justify-center hover:bg-neutral-800 w-2/4 text-center cursor-pointer relative">
                <div class="flex items-end py-4 text-neutral-400 font-medium text-16">
                    Following
                </div>
                <div class="w-20 rounded-full h-1 absolute bottom-0"></div>
            </div>
        </div>
    </section>
    
</body>
</html>