<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Components</title>
    <link href="../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-black">

   <div class="
   text-white font-bold bg-twitter-blue py-2 px-4 w-auto"
   >
       <h2>
           Assignment 1.4 Tweet Component
       </h2>
   </div>

   <!-- Tweet Component -->
   <div class="p-3 bg-slate-900 flex justify-center">
       <article class="m-3 flex text-neutral-50 border-b-2 border-b-neutral-700 
   w-tweet h-tweet px-4 py-2 bg-black round">
       <img src="../../public/images/user-avatar-tweet.png" class="w-12 h-12 mt-1">
       <div class="ml-4">
           <div class="flex">
               <div class="mr-2 font-semibold">Name</div>
               <div class="mr-1 text-neutral-500">@handle</div>
               <div class="mr-1 text-neutral-500">•</div>
               <div class="mr-1 text-neutral-500">10h</div>
           </div>
           <p class="-mt-2">
               Writing gets easier after the first sentence.
               <br class="m-1.5">
               Lifting gets easier after the first set.
               <br class="m-1.5">
               People think and think and think until they finally decide to act. 
               Their attention shifts from internal to external, and the difficulty 
               they created in their mind vanishes.
           </p>
           <div class="flex justify-between mt-4">
               <div class="flex items-end">
                   <button>
                       <img src="../../public/images/user-actions/comment.png">
                   </button>
                   <div class="ml-1 text-sm text-neutral-500">11</div>
               </div>

               <div class="flex items-end">
                   <button>
                       <img src="../../public/images/user-actions/rt.png">
                   </button>
                   <div class="ml-1 text-sm text-neutral-500">270</div>
               </div>

               <div class="flex items-end">
                   <button>
                       <img src="../../public/images/user-actions/heart.png">
                   </button>
                   <div class="ml-1 text-sm text-neutral-500">1,869</div>
               </div>
               <div class="flex items-end">
                   <button>
                       <img src="../../public/images/user-actions/share.png">
                   </button>
               </div>
           </div>
       </div>
   </article>
   </div>

    
</body>
</html>